<h2>{{selectedPost.studentNo}}</h2>

<form class="ui form">
  <div class="field">
    <label>studentNo</label> {{input type="text" value = selectedPost.studentNo}}
  </div>
  <div class="field">
    <label>firstName</label> {{input type="text" value = selectedPost.firstName}}
  </div>
  <div class="field">
    <label>lastName</label> {{input type="text" value = selectedPost.lastName}}
  </div>
  <div class="field">
    <label>birthDate</label> {{input type="text" value = selectedPost.birthDate}}
  </div>
  <div class="field">
    <label>residency</label> {{input type="text" value = selectedPost.residency}}
  </div>
  <div class="field">
    <label>gender</label> {{input type="text" value = selectedPost.gender}}
  </div>
  <button class="ui button" {{action 'save' selectedPost.id}}>Save</button>
</form>
{{show-logo}}
