<h2>{{selectedPost.studentNo}}</h2>

<form class="ui form">
  <div class="field">
    <label>studentNo</label> {{input type="text" value = selectedPost.studentNo}}
  </div>
  <div class="field">
    <label>firstName</label> {{input type="text" value = selectedPost.firstName}}
  </div>
  <div class="field">
    <label>lastName</label> {{input type="text" value = selectedPost.lastName}}
  </div>
  <div class="field">
    <label>birthDate</label> {{input type="text" value = selectedPost.birthDate}}
  </div>
  <div class="field">
    <label>residency</label> {{input type="text" value = selectedPost.residency}}
  </div>
  <div class="field">
    <label>gender</label> {{input type="text" value = selectedPost.gender}}
  </div>
    <label><b>residency</b></label>
  <select>
      <option value = "Residency">Residency</option>
      <option value = "Permanent" onclick = "selectedPost.residency = 'Permanent';">Permanent</option>
      <option value = "Native" onclick = "selectedPost.residency = 'Native';">Native</option>
      <option value = "International" onclick = "selectedPost.residency = 'International';">International</option>
  </select>
        <label><b>gender</b></label>
  <select>
      <option value = "Gender">Gender</option>
      <option value = "Male" onclick = "selectedPost.gender = 'Male';">Male</option>
      <option value = "Female" onclick = "selectedPost.gender = 'Female';">Female</option>
  </select>
  {{show-logo}}
  <button class="ui button" {{action 'save' selectedPost.id}}>Save</button>
</form>