{{outlet}}
<h2>Record</h2>
<div>
    <form class="ui form">
        <div class="field">
            <label>Student ID</label> {{input type="text" value = title placeholder="Enter student number"}}
        </div>
        <div class="field">
            <label>First Name</label> {{input type="text" value = body placeholder="Enter first name"}}
        </div>
        <div class="field">
            <label>Last Name</label> {{input type="text" value = body placeholder="Enter last name"}}
        </div>
        <div class="field">
            <label>Birth Date</label> {{input type="text" value = body placeholder="Enter date of birth"}}
        </div>
        <div class="ui selection dropdown">
            <input type="hidden" name="gender">
            <i class="dropdown icon"></i>
            <div class="default text">Residency</div>
            <div class="menu">
                <div class="item" data-value="1">Native</div>
                <div class="item" data-value="0">International</div>
            </div>
        </div>
        <div class="ui selection dropdown">
            <input type="hidden" name="gender">
            <i class="dropdown icon"></i>
            <div class="default text">Gender</div>
            <div class="menu">
                <div class="item" data-value="1">Male</div>
                <div class="item" data-value="0">Female</div>
            </div>
        </div>
    </form>
</div>