{{outlet}}
<h2>Record</h2>
<div>
  <div class = "ui grid">
    <div class = "eight wide column">
    <form class="ui form">
        <div class="field">
            <label>Student ID</label> {{input type="text" value = sid placeholder="Enter student number"}}
        </div>
        <div class="field">
            <label>First Name</label> {{input type="text" value = fname placeholder="Enter first name"}}
        </div>
        <div class="field">
            <label>Last Name</label> {{input type="text" value = lname placeholder="Enter last name"}}
        </div>
        <div class="field">
            <label>Birth Date</label> {{input type="text" value = birth placeholder="Enter date of birth"}}
        </div>
        {{#ui-dropdown}}
        <div class="ui selection dropdown">
            {{input type="hidden" name="residency" value = residency}}
            <i class="dropdown icon"></i>
            <div class="default text">Residency</div>
            <div class="menu">
                <div class="item" data-value="1">Native</div>
                <div class="item" data-value="0">International</div>
            </div>
        </div>
        {{/ui-dropdown}} {{#ui-dropdown}}
        <div class="ui selection dropdown">
            {{input type="hidden" name="gender" value = gender}}
            <i class="dropdown icon"></i>
            <div class="default text">Gender</div>
            <div class="menu">
                <div class="item" data-value="Male">Male</div>
                <div class="item" data-value="Female">Female</div>
            </div>
        </div>
        {{/ui-dropdown}}
        <button class="ui button" {{action 'savePost'}}>Save</button>
    </form>
</div>
  </div>
</div>